<header class="header-search" style="height:15vh;">
    <div class="header-limiter">
        <h1><a href="/" style="font-size:7vh;">Trivia<span>thon</span></a></h1>
        <nav>
            <a href="https://github.com/adilhamid/Triviathon"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-book fa-3x" aria-hidden="true"></i></a>
            <a href="game.html"><i class="fa fa-gamepad fa-3x" aria-hidden="true"></i></a>
        </nav>
    </div>
</header>